@import "tailwindcss";

.animate-page {
  animation: fade 0.3s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
